

body {
	padding-top: 70px;
	background-color: green;
	}
 
.box {
	background-color: #ECECEA;
	}
 p {
  padding: 20px;
 }
 
 .ttl {
 
  font-family: fantasy;
  text-align: center;
 }
 
 .prjt {
  background-color: #F3FAB6;
  
 
 }